{% extends '_base.html' %}
{% load i18n %}
{% block title %}{% trans 'Natural language processing' %}{% endblock %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <label for="original_text_id" class="form-label text-white">{% trans 'Original text' %}</label>
        <textarea class="form-control" id="original_text_id" rows="3" name="original_text"></textarea>
        <span class="dropdown-el">
        {% for db_val, human_val in model_num_choices %}
            <input type="radio" name="nlp_model_num" value="{{ db_val }}" id="{{ db_val }}-id"
                   {% if forloop.first %}checked{% endif %}>
            <label for="{{ db_val }}-id">{{ human_val }}</label>
        {% endfor %}
        </span>
        <input type="submit" value="{% trans 'process' %}" class="btn btn-primary">
    </form>
    <table>
        <thead>
        <tr>
            <th>{% trans 'Original text' %}</th>
            <th>{% trans 'Nlp model number' %}</th>
            <th>{% trans 'Summary' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for nlp_model in nlp_models %}
            <tr>
                <td>{{ nlp_model.original_text }}</td>
                <td>{{ nlp_model.nlp_model_num }}</td>
                <td>{{ nlp_model.summary }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
